In [3]:
print("Hello, World!")

Hello, World!

In [4]:
mongodb+srv://mhnvignesh2:vicky@456S@cluster0.pftlokw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

SyntaxError: invalid syntax (305536348.py, line 1)

In [5]:
import pandas as pd

df = pd.read_csv("EasyVisa.csv")

df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [6]:
df.shape

(25480, 12)

In [7]:
data = df.to_dict(orient="records")

data[0]
len(data)

25480

In [8]:
from urllib.parse import quote_plus

username = quote_plus("mhnvignesh2")
password = quote_plus("vicky@456S")

In [10]:
from urllib.parse import quote_plus
from pymongo import MongoClient

# Encode username and password
username = quote_plus("mhnvignesh2")
password = quote_plus("vicky@456S")

# Construct the connection URL with encoded credentials
CONNECTION_URL = f"mongodb+srv://{username}:{password}@cluster0.pftlokw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Database and collection names
DB_NAME = "US_VISA"
COLLECTION_NAME = "visa_data"

# Connect to MongoDB
client = MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

# Insert the data into the collection
#rec = collection.insert_many(data)
#print(f"Inserted {len(rec.inserted_ids)} records into the collection.")

In [11]:
records = collection.find()
records

In [12]:
for i, j in enumerate(records):
    print(i, j)
    if i == 10:
        break

0 {'_id': ObjectId('68221a185107bed467b1e874'), 'case_id': 'EZYV04', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 98, 'yr_of_estab': 1897, 'region_of_employment': 'West', 'prevailing_wage': 83434.03, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Denied'}
1 {'_id': ObjectId('68221a185107bed467b1e87e'), 'case_id': 'EZYV14', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 1652, 'yr_of_estab': 2007, 'region_of_employment': 'Midwest', 'prevailing_wage': 107196.03, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
2 {'_id': ObjectId('68221a185107bed467b1e888'), 'case_id': 'EZYV24', 'continent': 'North America', 'education_of_employee': 'High School', 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 1517, 'yr_of_estab': 1884, 'region_of_employment': 'Midwest', 'prevailing_wage': 90108.38, 'unit_of_wage': 'Year', 'full_time_position': 'N', 'case_status': 'Certified'}
3 {'_id': ObjectId('68221a185107bed467b1e894'), 'case_id': 'EZYV36', 'continent': 'Asia', 'education_of_employee': 'High School', 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 5512, 'yr_of_estab': 2001, 'region_of_employment': 'Northeast', 'prevailing_wage': 92421.92, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Denied'}
4 {'_id': ObjectId('68221a185107bed467b1e8a3'), 'case_id': 'EZYV51', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 746, 'yr_of_estab': 1991, 'region_of_employment': 'Midwest', 'prevailing_wage': 66191.41, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
5 {'_id': ObjectId('68221a185107bed467b1e8be'), 'case_id': 'EZYV78', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 1274, 'yr_of_estab': 1999, 'region_of_employment': 'South', 'prevailing_wage': 107781.48, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
6 {'_id': ObjectId('68221a185107bed467b1e8c8'), 'case_id': 'EZYV88', 'continent': 'Asia', 'education_of_employee': 'High School', 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 4455, 'yr_of_estab': 1998, 'region_of_employment': 'West', 'prevailing_wage': 113327.34, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Denied'}
7 {'_id': ObjectId('68221a185107bed467b1e8d6'), 'case_id': 'EZYV102', 'continent': 'Asia', 'education_of_employee': "Master's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 334, 'yr_of_estab': 2007, 'region_of_employment': 'Midwest', 'prevailing_wage': 43421.88, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
8 {'_id': ObjectId('68221a185107bed467b1e8e2'), 'case_id': 'EZYV114', 'continent': 'North America', 'education_of_employee': 'High School', 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 1019, 'yr_of_estab': 2005, 'region_of_employment': 'South', 'prevailing_wage': 98966.72, 'unit_of_wage': 'Week', 'full_time_position': 'Y', 'case_status': 'Certified'}
9 {'_id': ObjectId('68221a185107bed467b1e8e4'), 'case_id': 'EZYV116', 'continent': 'Asia', 'education_of_employee': "Master's", 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 3323, 'yr_of_estab': 2005, 'region_of_employment': 'Midwest', 'prevailing_wage': 57590.66, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}
10 {'_id': ObjectId('68221a185107bed467b1e8ee'), 'case_id': 'EZYV126', 'continent': 'North America', 'education_of_employee': "Master's", 'has_job_experience': 'Y', 'requires_job_training': 'N', 'no_of_employees': 2750, 'yr_of_estab': 1997, 'region_of_employment': 'West', 'prevailing_wage': 38841.44, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Certified'}

In [ ]:
df = pd.DataFrame(list(collection.find()))
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,68221a185107bed467b1e874,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.03,Year,Y,Denied
1,68221a185107bed467b1e87e,EZYV14,Asia,Bachelor's,Y,N,1652,2007,Midwest,107196.03,Year,Y,Certified
2,68221a185107bed467b1e888,EZYV24,North America,High School,N,N,1517,1884,Midwest,90108.38,Year,N,Certified
3,68221a185107bed467b1e894,EZYV36,Asia,High School,Y,N,5512,2001,Northeast,92421.92,Year,Y,Denied
4,68221a185107bed467b1e8a3,EZYV51,Asia,Bachelor's,N,N,746,1991,Midwest,66191.41,Year,Y,Certified

In [18]:
if "_id" in df.columns.to_list():
    df.drop(columns=["_id"], axis=1, inplace=True)
df.head()

df.columns.to_list()

['case_id',
 'continent',
 'education_of_employee',
 'has_job_experience',
 'requires_job_training',
 'no_of_employees',
 'yr_of_estab',
 'region_of_employment',
 'prevailing_wage',
 'unit_of_wage',
 'full_time_position',
 'case_status']